body {
  background-color: rgb(81, 206, 255);
  font-family: "system-ui","-apple-system","Segoe UI","Helvetica Neue","Noto Sans","Liberation Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji", "SFMono-Regular","Menlo","Monaco","Consolas","Liberation Mono","Courier New","monospace";
  font-size: 1.1em;
}

.menuVisivel {
  margin-left: 0;
  transition: margin-left 1s;
}

.menuInicio {
  margin-left: -100%;
}

.menuInvisivel {
  margin-left: -100%;
  transition: margin-left 1s;
}

.fundoTopo {
  background-color: white;
  width: 100%;
  height: 100px;
  box-shadow: 1px 1px 10px rgb(150, 151, 151);
  position: absolute;
  top: 0;
  left: 0;
  font-size: 20px;
}

#menuTopo  {
  width: 40%;
  height: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  padding: 40px 50px 40px 50px;
}

#menuTopo a {
  text-decoration: none;
  color: rgb(81, 206, 255);
  text-shadow: 1px 1px 3px rgb(233, 233, 233);
  transition: font-size 0.3s;
}

#menuTopo a:hover {
  font-size: 28px;
}

#entreEmContato {
  width: 200px;
  height: 40px;
  color: rgb(81, 206, 255);
  position: absolute;
  top: 28px;
  left: 55%;
  border: 3px solid rgb(142, 164, 167);
  border-radius: 10px; 
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}

#entreEmContato a {
  user-select: none;
  text-decoration: none;
  color: rgb(81, 206, 255);
}

#entreEmContato:hover {
  opacity: 0.5;
  transition: 0.3s;
}

.redesSociais {
  width: 20%;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: absolute;
  top: 25px;
  right: 2%;
}

#fb:hover {
  opacity: 0.5;
  transition: 0.3s;
}

#ig:hover {
  opacity: 0.5;
  transition: 0.3s;
}

#link:hover {
  opacity: 0.5;
  transition: 0.3s;
}

.perfilDireito:hover {
  box-shadow: 1px 1px 20px rgb(128, 138, 145);
  transition: 0.5s;
}


  .exArtigo {
    float: left;
    width: 75%;
    height: 270px;
    padding: 80px 0 0 0;
  }

  .bloco {
    background-color: white;
    border-radius: 3px;
    box-shadow: 1px 1px 5px rgb(184, 183, 183);
    width: 100%;
    height: 100%;
  }

  .gradeArtigo {
    width: 100%;
    height: 100%;
    display: flex;
  }

  .exFoto {
    width: 25%;
    float: left;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
  }

  .exFoto img {
    border-radius: 3px;
    box-shadow: 1px 1px 5px rgb(184, 183, 183);
    
  }

  .textoArtigo {
    width: 75%;
    height: 70%;
    float: left;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: left;
  }

  .tituloServer {
    color: rgb(142, 164, 167);
    text-shadow: 1px 1px 3px rgb(233, 233, 233);
  }


  .textoServer {
    padding: 0 10px 0 0px;
    color: rgb(142, 164, 167);
  }

  .cliqueAqui {
    width: 50%;
    height: 30%;
    transition: 0.3s;
  }

  .cliqueAqui a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
    font-size: 0.9em;
  }

  .cliqueAqui:hover {
    opacity: 0.5;
  }

  .fundoClique {
    background-color: rgb(81, 206, 255);
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
  }


  .curiosidade {
    float: left;
    width: 25%;
    height: 270px;
    padding: 80px 0px 0 0;
  }

  .fundoCuriosidade {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: right;
  }

  .blocoCuriosidade {
    box-shadow: 1px 1px 5px rgb(184, 183, 183);
    border-radius: 3px;
    background-color: #B5E6DF;
    background-image: linear-gradient(to left, transparent, #559BE6);
    width: 98%;
    height: 100%;
    padding: 0 0px 0 0;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: left;
  }

  .blocoCuriosidade a { 
    text-decoration: none;
  }

  .curiTitulo {
    padding: 0 10px 0 10px;
    color: white;
    font-size: 0.8em;
  }

  .curiTexto {
    padding: 0 10px 0 10px;
    color: white;
    font-size: 0.9em;
  }


  #botaoMenu {
    display: none;
  }

  #redesAdap {
    visibility: hidden;
  }

  #menuDentro {
    display: none;
  }




@media screen and (max-width: 1150px) {
  .exFoto {
    width: 30%;
  }
  .textoArtigo {
    width: 70%;
  }
}

@media screen and (max-width: 1000px) {
  

  .curiosidade {
    width: 50%;
    height: 250px;
  }

  .gradeArtigo {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .exArtigo {
    float: left;
    width: 50%;
    height: 600px;
  }

  .exFoto {
    width: 100%;
    align-items: none;
  }

  .textoArtigo {
    width: 100%;
    justify-items: center;
  }

  .textoServer p {
    padding: 0 10px 0 30px;
  }



  #menuTopoAuto {
    width: 60%;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0px 0px 0px 0px;
    border-bottom: 1px solid rgb(131, 129, 129);
    border-right: 1px solid rgb(131, 129, 129);

  }

  #menuDentro {
    display: grid;
    height: 250px; 
  }

  #menuDentro a {
    text-align: center;
    border-bottom: 1px solid rgb(180, 177, 177);
    text-shadow: 0 0 1px rgb(180, 177, 177);
    text-decoration: none;
    color: rgb(81, 206, 255);
    font-size: 30px;
    padding: 45px 0 0 0;
    user-select: none;
    cursor: pointer;
  }

  #botaoMenu {
    position: absolute;
    top: 0;
    left: 0;
    background: none;
    border: none;
    display: block;
  }

  #botaoMenu img {
    padding: 10px;
  }


  #menuTopo {
    visibility: hidden;
  }
  .perfilDireito {
    position: absolute;
    width: 96%;
  }

  .redesSociais {
    width: 30%;
  }

  #fb img {
  padding: 3px;
  }

  #ig {
  padding: 3px;
  }

  #link {
  padding: 3px;
  }

  #fb:hover {
  opacity: 0.5;
  }

  #ig:hover {
    opacity: 0.5;
  }

  #link:hover {
    opacity: 0.5;
  }


  #entreEmContato { 
  position: absolute;
  top: 30px;
  left: 30%;
  box-shadow: 2px 2px 5px rgb(189, 187, 187);
  }
}


@media screen and (max-width: 800px) {
  .exArtigo {
    width: 60%;
  }

  .curiosidade {
    width: 40%;
  }
}

@media screen and (max-width: 730px) {


  #entreEmContato { 
  position: absolute;
  left: 20%; 
  }

}

@media screen and (max-width: 660px) {
 
  
  .redesSociais {
    display: none;
  }

  #redesAdap {
    width: 100%;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    user-select: none;
    cursor: pointer;
    visibility: visible;
  }

  #menuTopoAuto {
    padding: 50px 0px 0px 0px;
  }

  .blocoCuriosidade {
    width: 100%;
  }

  

  #entreEmContato {
    position: absolute;
    left: 35%;
  }

  .exArtigo {
    width: 100%;
  }

  .curiosidade {
    width: 100%;
    padding: 10px 0 0 0;
  }

}

@media screen and (max-width: 550px) {
  p {
    font-size: 0.9em;
  }
   h2 {
     font-size: 1.3em
   }

}


@media screen and (max-width: 415px) {

  .exArtigo {
    padding: 70px 0 0 0;
  }

  #botaoMenu img {
    width: 35px;
    height: 20px;
  }

  #entreEmContato {
    width: 150px;
    height: 30px;
  }

  #entreEmContato a {
    font-size: 0.8em;
  }

  .fundoTopo {
    height: 90px;
  }

  .textoServer p {
    padding: 0 10px 0 40px;
  }
}

@media screen and (max-width: 325px) {
  .exArtigo {
    height: 550px;
  }
}