  body {
    background-color: rgb(81, 206, 255); 
    font-family: Candara, Helvetica, sans-serif;
  }
  
  .header_ {
    background-color: white;
    width: 100%;
    height: 110px;
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: 1px 1px 10px rgb(182, 180, 180);
    
  }
  
  #menu {
    width: 60%;
    height: 110px;
    position: absolute;
    left: 27%;
    top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  
  #menu a {
    padding: 40px 0 0px 0;
    text-decoration: none;
    font-size: 20px;
    transition: font-size 0.3s;
    user-select: none;
    text-shadow: 1px 1px 3px rgb(233, 233, 233);
    color: rgb(81, 206, 255);
  }
  #menu a:hover {
    font-size: 28px;
  }
  
  
  #logo {
    position: absolute;
    top: 5px;
    left: 5%;
    user-select: none;
    pointer-events: none;
  }
  
  #meuLink a {
    position: absolute;
    top: 28px;
    right: 7%;
    transition: opacity 0.3s;
    user-select: none;
  }
  
  #meuLink a:hover {
    opacity: 0.5;
  }
  
  .corpo {
  background-color: white;
  width: 98%;
  position: absolute;
  top: 125px;
  left: 1%;
  border-radius: 5px;
  color: rgb(81, 206, 255);
  
  }
  
  .tituloCorpo {
    font-size: 1.8em;
    position: relative;
    top: 0;
    left: 5%;
    text-shadow: 1px 1px 1px rgb(202, 201, 201);
  }
  
  .textoCorpo {
    padding: 0 60px 50px 65px;
    font-size: 1.2em;
    color: rgb(142, 164, 167);
  }
  
  .imagemTexto {
    padding: 10px 0 10px 0;
    position: relative;
    left: 9.5%;
    user-select: none;
    pointer-events: none;
  }
  
  .textin {
    text-shadow: 0 0 1px rgb(202, 201, 201);
    transition: font-size 0.3s;
  }
  
  .textin:hover {
    font-size: 1.2em;
    cursor: pointer;
  }
  
  .creditos {
    background-color:#4fd8e8;
    background-image: linear-gradient(to bottom, transparent, #222323); 
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    opacity: 0;
  }
  
  .creditos:hover {
    
    position: fixed;
    opacity: 0.9;
    height: 150px;
    transition: 1s;
    font-size: 0.8em;
  }
  
  
  
  #entreEmContato {
    position: absolute;
    top: 0;
    right: 3%;
  }
  
  #entreEmContato a {
    text-decoration: none;
    color: white;
  }
  
  #entreEmContato a:hover {
    text-decoration: underline;
  }
  
  #redes {
    width: 20%;
    padding: 17px 0 0 65px;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
  }
  
  #iconeRedes {
    width: 20%;
    padding: 20px 0 0 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  #ig:hover {
    opacity: 0.7;
  }
  
  #fb:hover {
    opacity: 0.7;
  }
  
  #minhaFt {
    position: absolute;
    top: 18px;
    left: 28%;
  }
  
  #apres {
    width: 38%;
    height: 100px;
    position: absolute;
    top: 15px;
    left: 38%;
    color: white;
    font-weight: bold;
  }
  
  
  
  
  
  
  
  