body {
    margin: 0;
    padding: 0;
    background: url('images/fotoCode.jpg')  center center no-repeat fixed;
    background-size: 200%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
}


/*########################################## REDES SOCIAIS ###############################################*/
.redesSociais {
    position: fixed;
    top: 0;
    left: 0;
    width: 30px;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .linkedin {
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #0e76a8;
  }
  
  .linkedin img {
    opacity: 0.3;
  }
  
  .email {
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #db4a39;
  }
  
  .email img {
    opacity: 0.3;
  }
  
  .facebook {
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #3b5998;
  }
  
  .facebook img {
    opacity: 0.3;
  }
  
  .instagram {
    display: grid;
    justify-items: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #515bd4, #8134af, #dd2a7b, #feda77, #f58529);
  }
  
  .instagram img {
    opacity: 0.3;
  }
/*##################################### REDES SOCIAIS ###########################################################*/


/*##################################### HEADER ###########################################################*/
.cabecalho {
    width: 100%;
}

.menu {
    float: right;
    width: 30%;
    height: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    border-bottom-left-radius: 50px;
}

.menu a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.menu a p {
  margin: 0;
}

.menu a:hover {
    color: rgba(81, 206, 255, 0.7);
}
/*##################################### HEADER ###########################################################*/

/*##################################### CORPO --- PROJETOS ###########################################################*/

.corpo {
  width: 100%;
  padding-top: 40px;
}

.espacoEntreProjetos {
  padding-bottom: 40px;
  width: 100%;
}

.classeProjetos {
  width: 80%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.7); 
  display: flex;
  border-radius: 3px;
}


.imgProjeto {
  float: left;
  width: 30%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.imgProjeto img {
  padding: 10px;
  border-radius: 50%;

}

.apresentacaoDoProjeto {
  width: 80%;
  color: white;
  margin-right: 50px;
  margin-bottom: 20px;
}


.apresentacaoDoProjeto p {
  text-align: justify;
  padding: 20px 0 30px 0;
  margin: 0;
}

.apresentacaoDoProjeto a {
  padding: 8px;
  border-radius: 10px;
  background-color: rgba(81, 206, 255, 0.7);
  text-decoration: none;
  float: right;
  color: white;
  transition: 0.3s;
}

.apresentacaoDoProjeto a:hover {
  background-color: rgb(81, 206, 255);
}


/*##################################### CORPO --- PROJETOS ###########################################################*/


/*##################################### CORPO --- NOTICIAS ###########################################################*/

.espacoNoticias {
  width: 90%;
  margin: auto;
  padding-bottom: 60px;
}

.noticias {
  width: 100%;
  height: 500px;
  border-radius: 3px;

}

.fundoImagemNoticias {
  width: 100%;
  height: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
  color: white;
  text-align: justify;
}

.fundoImagemNoticias h2 {
  font-size: 3.5em;
  padding: 10px 20px 0 20px;
}

.fundoImagemNoticias p {
  font-size: 1.5em;
  padding: 40px 20px 0 20px;
}



/*##################################### OI --- NOTICIAS ###########################################################*/
.noticias:nth-child(1) {
  background-image: url('images/fotoOi.png');
  background-repeat: no-repeat;
}
/*##################################### OI --- NOTICIAS ###########################################################*/

/*##################################### Blue Origin --- NOTICIAS ###########################################################*/
.noticias:nth-child(2) {
  background-image: url('images/jeffBezos.png');
  background-repeat: no-repeat;
}
/*##################################### Blue Origin --- NOTICIAS ###########################################################*/

/*##################################### Raízen --- NOTICIAS ###########################################################*/
.noticias:nth-child(3) {
  background-image: url('images/raizen.png');
  background-repeat: no-repeat;
}
/*##################################### Raízen --- NOTICIAS ###########################################################*/

/*##################################### CORPO --- NOTICIAS ###########################################################*/

/*##################################### CORPO --- RESPONSIVIDADE ###########################################################*/
@media screen and (max-width: 1100px) {
  .classeProjetos {
    width: 90%;
    
  }
}

@media screen and (max-width: 970px) {
  .imgProjeto {
    width: 30%;
  }

  .apresentacaoDoProjeto {
    width: 68%;
  }
  
}

@media screen and (max-width: 970px) {
  .imgProjeto {
    width: 30%;
  }
  
  .apresentacaoDoProjeto {
    width: 68%;
  }
}

@media screen and (max-width: 870px) {
  .imgProjeto {
    float: left;
    width: 50%;
    justify-content: center;
  }
  
  .apresentacaoDoProjeto {
    float: left;
    width: 50%;
  }

  body {
    background-size: 300%;
  }
}

@media screen and (max-width: 700px) {

    .menu {
      padding-top: 20px;
      width: 100%;
      border-bottom-left-radius: 0;
    }
  
    .redesSociais {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  
    .instagram {
    background-image: linear-gradient(to right, #515bd4, #8134af, #dd2a7b, #feda77, #f58529);
  }
  
    .linkedin img {
      width: 20px;
      height: 20px;
    }
  
    .facebook img {
      width: 20px;
      height: 20px;
    }
  
    .instagram img {
      width: 20px;
      height: 20px;
    }
  
    .email img {
      width: 20px;
      height: 20px;
    }


  body {
  font-size: 0.6em;
  background-size: 600%;
}
}

@media screen and (max-width: 600px) {
  .imgProjeto img {
    width: 150px;
    height: 150px;
  }

  .noticias:nth-child(1) {
    background-position-x: right;
  }

  .noticias:nth-child(2) {
    background-position-x: center;
  }

  .noticias:nth-child(3) {
    background-position-x: center;
  }

}

@media screen and (max-width: 440px) {
  .apresentacaoDoProjeto {
    margin: 0 20px 20px 10px;
  }

  .imgProjeto img {
    width: 120px;
    height: 120px;
  }

  .fundoImagemNoticias h2 {
    font-size: 3em;
  }
}

@media screen and (max-width: 440px) {
  .imgProjeto img {
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-width: 240px) {
  .fundoImagemNoticias h2 {
    font-size: 2em;
  }
}


/*##################################### CORPO --- RESPONSIVIDADE ###########################################################*/